<div class="background_index" style="background-image:  url('<%= image_path 'home_page1.jpg' %>');"></div>
  <div class="arrow-left-back-page">
     <%= link_to '<i class="far fa-arrow-alt-circle-left"></i>'.html_safe,  root_path() %>
  </div>
  <div class="title"><h2>FIND A SURFERS</h2></div>
  <div class="container_profile">
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <% if @users.count == 0 %>
            <h3>No other match</h3>
          <% else %>
             <% @users.each do |user| %>
              <%= render "shared/card-find-surfer", user: user %>

             <% end %>
          <% end %>
        </div>
                <!-- Add Pagination -->
        <div class="swiper-pagination swiper-all-cards"></div>
    </div>
  </div>




     <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
          <!-- Swiper JS -->
