// Define variables for your color scheme

// For example:
$red: #CC351F;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$light-green: #32e796;
$green: #32B796;
$gray: #000000;
$light-gray: #BEBEBE;
$light-gray-blue: #CCD3DD;
$gray-buttons: rgba(18, 16, 17, 0.6);
$white: #FCFCFC;
$light-blue: #74B3CE;
$medium-gray: #35373B;
$dark-gray: #27292C;
$purple: #F0106B;
$dark-blue: #2c3940;
$dark: #2A333B;
$highlight: #00FF98;
$dark-black: #16282E;
$facebook: #3B5998;
$gray-arrow: #CFD3DF;


