.logo-about-us{
   position: relative;
  top: 7%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -27px;
}

.logo-about-us :hover{
  transform: scale(1.2);
}

.text-about-us{
  margin: 10px;
  top: 28%;
  position: absolute;
}

.text-about-us p{
  color: $purple;
  margin-bottom: 10px;
  margin: 0px;
}

.text-about-us h1{
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}

.text-about-us h2{
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-about-us h5{
  font-size: 15px;
  color: $light-gray;
  text-align: center;
}

.text-about-us a {
  color: $white;
  font-size: 30px;
}
.links-about-us{
  color: $white;
  font-size: 25px;
}
