.container-home{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:0;
}

.under-logo-home{
  position: absolute;
  height: 170px;
  width: 100vw;
  top: 7%;
  //background-color: rgba(255,255,255, 0.4);
  z-index: 1;
}

.buttons-home{
  position: relative;
  top: 25%;
  width: 235px;
  height: 200px;

    //border: 3px solid #73AD21;
  display:flex;
  @media screen and (min-width: 601px){
      width: 335px;
  }

}
.see_event_home{
  @media screen and (min-width: 601px) {
     font-size: 15px;
  }
  position: absolute;
  top: 88px;
  //background-color: $gray-buttons;
  font-family: $body-font;
  font-size: 12px;;
  width:100%;
}

.see_baby_surfers_home{
  @media screen and (min-width: 601px) {
     font-size: 15px;
     top: 147px;
  }
  position: absolute;
  top: 137px;
  //background-color: $gray-buttons;
  font-family: $body-font;
  font-size: 12px;
  width:100%;


}

.logo-home{
  height: 200px;
  z-index: 100;
  margin-top: 0px;
   @media screen and (min-width: 601px) {
   height: 400px;
   margin-top: -40px;
   }
}

.btn-home{
  color: white;
  text-align: center;
  padding: 15px;
}


a:hover, a:focus {
    color: #1f74ba;
    text-decoration: none;
     vertical-align: middle;
}

.home-icons{
  font-size: 70px;
  color: #2E6C7D;
}

