.container-presentation{
  position: relative;
}
.presentation_find{
  text-align: center;
}

.presentation_find h2{
  margin-left: 10px;
  margin-right: 10px;
}

.buttons-find{
  height: 40px;
  font-size: 12px;
  margin-top: 20px;
}

.image_presentation{
  text-align: center;
  width: 100%;
}

.image_presentation img{
  height: 400px;
    @media screen and (min-width: 601px) {
    height: 100%;
  }
}
