.presentation_find{
   position: absolute;
  top: 10%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -30px;
}

.buttons-find{
  position: relative;
  top: 33%;
  width: 235px;
  height: 200px;

    //border: 3px solid #73AD21;
  display:flex;

}
