
.profile_picture{
  position: relative;
  top: 85px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover; //try contain
  border: 4px solid $white;

}

.profile_infos{
  position: relative;
  top: 64px;
  width: 100%;
  margin: 0px auto 5px auto;
}

#firstName{
  color: $white;
  text-align: center;
}

.description_user {
  //background-color: $medium-gray;
}

.icons-space{
  position: relative;
//  background-color: $medium-gray;
  min-height: 68px;
  width: 100%;
  margin: 0px auto 5px auto;
  text-align: center;
  padding-top: 10px;
  border-radius: 6px;
}
.column{
  float: left;

}

.column.middle{
  width: 40%;
  padding-right: 10px;
  padding-left: 10px;

}
.column.side{
  width: 30%;
}

.surf-level{
  background-color: $medium-gray;
  height: 90px;
  border-radius: 6px;
  padding-top: 5px;
  box-shadow: 2px 1px $light-gray;
  text-align: center;
}

.surfboard{
  background-color: $medium-gray;
  height: 90px;
  padding-top: 5px;
  border-radius: 6px;
  box-shadow: 2px 1px $light-gray;
  text-align: center;
}

.favorite_spot{
  background-color: $medium-gray;
  min-height: 90px;
  border-radius: 6px;
  padding-top: 5px;
  box-shadow: 2px 1px $light-gray;
  text-align: center;
}


.team{
  background-color: $medium-gray;
  height: 70px;
  font-size: 15px;
}

.match_show{
  height: 70px;
}

.match_show p{
  margin-top: 26px;
  position: absolute;
  margin-left: -10px;
}

.contact{
  //background-color: $medium-gray;
  min-height: 70px;
  font-size: 15px;

}

.contact p{
  margin-bottom: 0px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
