.banner_profile {
  width: 100%;
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.container-show{
  height: 100vh;
  width: 90vw;
  margin: 135px auto 10px auto;
  z-index:-1;
}

.profile_picture{
  position: relative;
  top: 5px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover; //try contain

}

.profile_infos{
  position: relative;
  top: -24px;
  width: 100%;
  margin: 0px auto 5px auto;
}

#firstName{
  color: $white;
  text-align: center;
}

.description_user {
  background-color: $medium-gray;
}

.icons-space{
  position: relative;
  background-color: $medium-gray;
  height: 50px;
  width: 100%;
  margin: 15px auto 5px auto;
  text-align: center;
  padding-top: 10px;
}
.column{
  float: left;
  padding: 5px;

}

.column.middle{
  width: 40%;
}
.column.side{
  width: 30%;
}

.surf-level{
  background-color: $medium-gray;
  height: 50px;
  font-size: 12px;
}

.surfboard{
  background-color: $medium-gray;
  height: 50px;
  font-size: 12px;
}

.favorite_spot{
  background-color: $medium-gray;
  height: 50px;
  font-size: 12px;
}


.team{
  background-color: $medium-gray;
  height: 70px;
  font-size: 15px;
}

.contact{
  background-color: $medium-gray;
  height: 70px;
  font-size: 20px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
