#title_event{
  top: 8px;
  position: relative;
  background-color: $dark-gray;
  border-radius: 20px;
  margin-bottom: 0px;
  width:94%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
}

.event_infos{
  position: relative;
  top: 70px;
  width: 100%;
  margin: 0px auto 5px auto;
}


.column-show-event{
  display: flex;
  justify-content: space-between;

}



.date-show-event{
  width: 55%;
  min-height: 75px;
  background-color: $medium-gray;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 2px 1px $light-gray;
}

.location-show-event{
  width: 42%;
  min-height: 75px;
  background-color: $medium-gray;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 2px 1px $light-gray;
  font-style: italic;
}

.description_event{
   background-color: $medium-gray;
   padding: 18px;
   min-height: 60px;
}

.description_organiser{
   height: 45px;
}

.description_organiser p {
  position: relative;
  text-align: center;
  top: 25%;
}

.people-comming-show{
  width: 42%;
  min-height: 75px;
  background-color: $medium-gray;
  padding: 12px 6px 12px 6px;

}


.write-message{
  display: flex;
  margin-top:150px;
  height: 21px;
  margin-bottom: 15px;
}
