<div class="text-center">
  <p><%=@weather["main"]["temp"]%>°C
  <%= image_tag("weather/#{@weather["weather"][0]["icon"]}.png")  %> </p>
  <p></p><a  data-toggle="collapse" href="#collapseWeather" role="button" aria-expanded="false" aria-controls="collapseWeather">
    More about the weather
  </a></p>
</div>
