<div class="bannernewevent" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('<%= image_path 'surf_home.jpg' %>');">
 <h1 class="text-center" style="margin-bottom: 0px;">Create a new event</h1>
  <%= render 'form', event: @event %>
</div>
