<div class="banner_profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'surf_session.jpg' %>');"></div>
<div class="profile_infos">
  <div class="text-center">
    <h2><%= @event.title_event %></h2>
  </div>
</div>
