<div class="background_index" style="background-image:  url('<%= image_path 'home_page.jpg' %>');"></div>
  <div class="arrow-left-back-page">
     <%= link_to '<i class="fa fa-angle-left button-white-left"></i>'.html_safe,  root_path() %>
  </div>
  <div class="title"><h1>RENTALS</h1></div>
  <div class="row">
    <% @rentals.each do |rental| %>
    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="card">
        <div class="card-title">
          <h2> <%= rental.title.upcase %> </h2>
        </div>
        <div class="card-location">
                <p><%= rental.price %></p>
        </div>
     </div>
   </div>
   <% end %>
 </div>
</div>
