 <div class="rental-description">
              <p><%= rental.description %></p>
            </div>
            <div class="rental-information">
               <h3>PRICE PER DAY</h3>
              <p><%= rental.price %></p>
              <h3>CONTACT</h3>
              <p><%= rental.phone %></p>
              <% if rental.localisation.nil? %>
              <% else %>
                <h3>LOCATION</h3>
                <p><%= rental.localisation.city %></p>
              <% end %>
            </div>
