<div class="arrow-left-back-page">
   <%= link_to '<i class="far fa-arrow-alt-circle-left"></i>'.html_safe,  root_path() %>
</div>

<div class="logo-about-us">
     <%= image_tag "white_logo.png", height: 200 %>
</div>

<div class="text-about-us">
<h2 class="links-about-us"><%= link_to "FIND A SURFER", events_path, class: "" %></h2>
<p>beginner, bad, medium, boss</p>

<h2 class="links-about-us"><%= link_to "FIND AN EVENT", events_path, class: "" %></h2>
<p>surf, barbecue, party, glass, surfday, surftrip</p>

<h1>The biggest surf community of the world </h1>
<h5>Born in AUSTRALIA</h5>
</div>

<ul class="buttons">
  <li><a href="https://www.facebook.com/groups/564428737094638/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  <li><a href="https://www.youtube.com/watch?v=tSDdEwIODq0"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
  <li><a href="https://www.instagram.com/baby_surfers/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
</ul>

