<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 70%), url('<%= image_path 'home_page1.jpg' %>');">
  <div class="under-logo-home">
    <div class="logo-home">
         <%= image_tag "babysurfers-black.png", height: 150 %>
    </div>

  </div>
  <div class="buttons-home text-center">
    <%= link_to "FIND AN EVENT", events_path, class: "see_event_home btn-home" %>


    <%= link_to "FIND A BABY SURFER",  matches_path, class: "see_baby_surfers_home btn-home" %>
  </div>

</div>
