<div class="logo-about-us">

  <%= link_to "FIND A BABY SURFER",  profiles_path, class: "see_baby_surfers_home btn-home" %>

</div>
<div class="logo-about-us">


  <h1>Find a surfer around you and chat with him</h1>
  <%= image_tag "find_a_surfer.jpg", height: 450 %>

</div>
