<div class="container-presentation">
  <div class="presentation_find">
    <h2>Find a surfer around you and chat with him</h2>
    <p>Please register first, it takes only few second!</p>
  </div>
  <div class="image_presentation">
    <%= image_tag "gif_presentation.gif" %>
  </div>
<br>
  <div class="buttons-find text-center">
    <%= link_to "FIND A BABY SURFER",  profiles_path, class: "btn-home" %>
  </div>
</div>
