<div class="banner" style="background-image:  url('<%= image_path 'home_page.jpg' %>');">

<div class="presentation_find">


  <h1>Find a surfer around you and chat with him</h1>
  <%= image_tag "find_a_surfer.jpg", height: 450 %>

</div>
  <div class="buttons-find text-center">
  <%= link_to "FIND A BABY SURFER",  profiles_path, class: "see_baby_surfers_home btn-home" %>

  </div>
</div>
