<div class="arrow-left-back-page">
   <%= link_to '<i class="fa fa-angle-left button-white-left"></i>'.html_safe,  root_path() %>
</div>

<p>edit page</p>


<%= link_to "update match", edit_match_path(@match), class:"btn btn-sucess" %>
