<div class="container">
  <div class="profile-pic center-sonar" style="background-image: url('<%= image_path 'home.jpg' %>')"></div>
  <p class="text-sonar">This page is under construction</p>
  <div class="sonar-container">
    <div class="sonar center-sonar"></div>
    <div class="sonar center-sonar delay"></div>
  </div>
</div>
