.arrow-left-back-page{
  position: absolute;
  top: 10px;
  left: 20px;

}

.arrow-left-back-page a {
  color: $gray-arrow;
  font-size: 25px;

}

.arrow-left-back-page a:hover{
  color: $dark-gray;
}
