.banner{
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
}


.bannernewevent{
  height: 150vh;
  background-size: cover;
  margin-top: -25px;
}

.banner_event {
  width: 100%;
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.banner_profile{
  border-bottom-right-radius: 70rem;
  border-bottom-left-radius: 0rem;
}


