.btn-done{
  background-color: #5CAB7D;
}

.btn-done:hover{
  background-color: #6dc793;
}

.btn-done:focus{
  background-color: #6dc793;
}

.btn-login{
  background-color: $purple;
  border-radius: 3rem;
  color: $white;
  width: 250px;
}

.btn-login:hover{
  text-decoration: none;
  color: $white;
}

.btn-create{
  background-color: $blue;
  border-radius: 3rem;
  color: $white;
  width: 250px;
}

.btn-create:hover{
  text-decoration: none;
  color: $white;
}

.btn-join{
  background-color: none;
  border-radius: 3rem;
  color: $white;
  width: 250px;
  border: 4px solid $purple;
  border-radius: 20px;
}

.btn-join:hover{
  text-decoration: none;
  color: $white;
  background-color: $purple;
}


.button-circle {
  color: #2a343c;
  font-size: 30px;
  font-weight: bold;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 20px 20px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
  transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1);
}
.button-circle:hover {
  color: #000;
  transform: scale(1.03);
  box-shadow: 0 22px 22px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
}
.button-circle:focus,
.button-circle:active {
  transform: scale(1);
  box-shadow: 0 17px 17px -15px rgba(42,51,59,0.7), inset 0 -3px rgba(42,51,59,0.4);
}

.circle {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin: 50px auto;
  background-color: $light-blue;
}
