.profile_find_a_surfer{
  position: relative;
  height: 180px;
  width: 150px;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: contain; //try contain
  background-position: center;
  //border-top-left-radius: 3rem;
  left: 10px;
  margin-top: 15px;

}

.card_find_a_surfer_i_like {
  position: absolute;
  left: 163px;
  width: 80px;
  height: 111px;
  text-align: justify;

}

.card_level{
  position: relative;
  top: 0px;
  left: 10px;
  background: $purple;
  width: 120px;
  padding-left:10px;
  height: 25px;
  margin-top: 15px;

}
.card_find_a_surfer_description {
    position: relative;
    top: 0px;
    left: 0px;
    height: 25px;
    margin: 10px;
    background: $purple;
    width: 80%;
    padding-left:10px;
    margin: 15px auto 0px auto;
}

.card_find_a_surfer_description p{
  margin: 0;
}

.card_find_a_surfer_description h4{
  color: $white;
  margin-bottom: 6.5px;
}

.inactive{
  display: none;
}

.style_likecategories{
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}
