.footer{
  @media screen and (max-width: 601px) {
    display: flex;
    background-color: $white;
    position: fixed;
    bottom: 0px;
    z-index: 99999;
    height: 43px;
    min-height: 43px;
    width: 100vw;
    border-top: 2px solid $dark-gray;
  }
  @media screen and (min-width: 601px) {
  display: none;
  }

}

.col_icon{
  background-color: $white;
  width: 20%;
  text-align: center;
  font-size: 30px;
}

.col_icon a{
  color: $dark-gray;
}

.space_footer{
  margin-bottom:45px;
}
