.organiser_picture{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 12px;
  background-repeat: no-repeat;
  background-size: cover; //try contain
  float: right;
  margin-top: -10px;
}

.join_picture{
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-left: 3px;
  background-repeat: no-repeat;
  background-size: cover; //try contain
  float: right;
}

.icon-black{
  background-color: $medium-gray;
  min-height: 68px;
  padding: 10px;
  width: 100px;
}
