table {
    table-layout: fixed;
    width: 100%;
    border:1px solid;
    margin-top:20px;
    border-collapse: collapse;
    text-align:center;
}
td {
    min-width: 250px;
    border:1px solid;

}

#weather td:nth-child(even){background-color: $dark-gray;}

#no_wind{

}

#light_wind{
  background-color: $light-green;
}

#good_wind{
  background-color: $green;
}

#strong_wind{
  background-color: $light-blue;

}
